/* styles.css */
body {
  position: relative;
}

#feedmejd-pet-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#feedmejd-pet-img {
  width: 100px;
  height: 100px;
  transition: transform 0.2s ease-in-out;
}

#feedmejd-pet-img:hover {
  transform: scale(1.1);
}

#feedmejd-feed-button {
  display: none; /* Initially hidden */
  padding: 8px 16px;
  border: none;
  background-color: #ff6f61;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: background-color 0.2s;
}

#feedmejd-feed-button:hover {
  background-color: #e65a50;
}
